<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sanskritcode.sanskritdictionaryupdater" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/stardict_updater_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity
            android:name="sanskritCode.downloaderFlow.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="sanskritCode.downloaderFlow.GetUrlActivity"
            android:label="@string/title_activity_get_url"
            android:parentActivityName="sanskritCode.downloaderFlow.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sanskritCode.downloaderFlow.MainActivity" />
        </activity>
        <activity
            android:name="sanskritCode.downloaderFlow.GetArchivesActivity"
            android:label="@string/title_activity_get_archives"
            android:configChanges="orientation"
            android:parentActivityName="sanskritCode.downloaderFlow.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sanskritCode.downloaderFlow.MainActivity" />
        </activity>
        <activity
            android:name="sanskritCode.downloaderFlow.ExtractArchivesActivity"
            android:label="@string/title_activity_extract_archives"
            android:configChanges="orientation"
            android:parentActivityName="sanskritCode.downloaderFlow.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sanskritCode.downloaderFlow.MainActivity" />
        </activity>
        <activity
            android:name="sanskritCode.downloaderFlow.FinalActivity"
            android:label="@string/title_final_activity"
            android:parentActivityName="sanskritCode.downloaderFlow.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sanskritCode.downloaderFlow.MainActivity" />
        </activity>
    </application>

</manifest>
